# Files generated when compiling the plan
*.aux
*.log
*.toc

# Files generated when compiling and running the program and tests
*.o
*.a
*src/main
*test/interactor_test
*tmc_test_results.xml

# Build files with CMake in separate directory
*build_Makefile*

# Local TODO-list
*TODO
