# File that configures the Agent
# Angles are in radians in the config file, as internally in the program.

actor
JointActor, 1, 256, -1, 0.5
JointActor, 2, 512, -0.5, 2.5
/actor

sensor
JointSensor, 1, 256,  -1, 0.5
JointSensor, 2, 512,  -0.5, 2.5
XAxisSensor, 999
/sensor

agentShape
# This is not ready
Body, 2, 1, 2
/agentShape

agentCount
3
/agentCount

qtableFilename
# Empty means that no saved qtable file will be used.
qtabletestfile4.bin
/qtableFilename

drawGraphics
# true
false
/drawGraphics
