# File that configures the Agent
# Angles are in radians in the config file, as internally in the program.

actor
JointActor, 0, 256, 0.0, 0.0
JointActor, 1, 512, 0, 3.14
/actor

sensor
JointSensor, 0, 256, 0, 0.0
JointSensor, 1, 512, 0.0
XAxisSensor, 2
/sensor

agentShape
# This is not ready
Body, 2, 1, 2
/agentShape

agentCount
3
/agentCount

qtableFilename
# Empty means that no saved qtable file will be used.

/qtableFilename

drawGraphics
# true
false
/drawGraphics
