# File that configures the Agent
# Angles are in radians in the config file, as internally in the program.

actor
JointActor, 1, 16, -1.5, 0.86
JointActor, 2, 32, -1.72, 3
/actor

sensor
JointSensor, 1, 16, -1.5, 0.86
JointSensor, 2, 32, -1.72, 3
XAxisSensor, 999
/sensor

agentShape
# This is not ready
Body, 2, 1, 2
/agentShape

agentCount
2
/agentCount

qtableFilename
# Empty means that no saved qtable file will be used.
/qtableFilename

drawGraphics
# true
false
/drawGraphics
