# File that configures the Agent
# Angles are in radians in the config file, as internally in the program.

# Do not change
actor
JointActor, 1, 16, -1.5, 0.86
JointActor, 2, 32, -1.72, 3
/actor

# Do not change
sensor
JointSensor, 1, 16, -1.5, 0.86
JointSensor, 2, 32, -1.72, 3
XAxisSensor, 999
/sensor

# Does nothing
agentShape
# This is not ready
Body, 2, 1, 2
/agentShape

# Does nothing
drawGraphics
# true
# false
/drawGraphics


# EFFECTIVE CONFIGURATION OPTIONS UNDER


agentCount
2
/agentCount

# Empty means that no saved qtable file will be used.
qtableFilename

# explorationFactor by hand changed
# first 0.5, then 0.1 and then 0.01
# V=230
#../saved_qtables/trained_old_44385k.bin

# Dynamic multiple: 0.5 to exploration
# V=260
#../saved_qtables/trained_dynamic_old_3550k.bin

# 5 Agents
# V=135
#../saved_qtables/trained_5_agents_2150k

/qtableFilename

# Used when you want to test the trained QTable
doNotTrain
#true
/doNotTrain

# TODO: Implement setting of initial QVariables from config-file.
