# File that configures the Agent
# Angles are in radians in the config file, as internally in the program.

actor
JointActor, 1, 256, 0.0, 200
JointActor, 2, 512, 0, 200
/actor

sensor
JointSensor, 1, 256, 0, 200
JointSensor, 2, 512, 0.0, 200
XAxisSensor, 999
/sensor

agentShape
# This is not ready
Body, 2, 1, 2
/agentShape

agentCount
10
/agentCount

qtableFilename
# Empty means that no saved qtable file will be used.
/qtableFilename

drawGraphics
# true
false
/drawGraphics
